.container {
	max-width: 1200px;
	min-width: 320px;
}

.h1_title {
	width: 100%;
}

.info {
	width: 23%;
}

form {
	width: 23%;
}

.nav {
	width: 50%;
}

img {
	width: 100%;
}
